<div class="contacts" id="contacts">
    <div class="contacts__close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="contacts__header">
        <h2 class="contacts__title">Контакты</h2>
        <div class="divider"></div>
    </div>
    <div class="contacts__items"><a class="contacts__item" href="tel:+79114942002">
        <figure><img class="contacts__pic" src="/img/contacts/maxim.jpg" alt="Maxim">
            <figcaption>
                <h3 class="contacts__name">Максим Деев</h3>
                <p class="contacts__position">Пастор</p>
                <p class="contacts__vk"><i class="fa fa-vk" aria-hidden="true"></i><span>m.deev88</span></p>
                <p class="contacts__phone"> <i class="fa fa-phone" aria-hidden="true"></i><span>+7 (812) 355-75-74</span></p>
            </figcaption>
        </figure></a><a class="contacts__item" href="tel:+79114937553">
        <figure><img class="contacts__pic" src="/img/contacts/maxim.jpg" alt="Maxim">
            <figcaption>
                <h3 class="contacts__name">Евгения Деева</h3>
                <p class="contacts__position">Лидер служения прославления</p>
                <p class="contacts__vk"><i class="fa fa-vk" aria-hidden="true"></i><span>deeva84</span></p>
                <p class="contacts__phone"> <i class="fa fa-phone" aria-hidden="true"></i><span>+7 (911) 493-75-53</span></p>
            </figcaption>
        </figure></a><a class="contacts__item" href="tel:+79114937399">
        <figure><img class="contacts__pic" src="/img/contacts/maxim.jpg" alt="Maxim">
            <figcaption>
                <h3 class="contacts__name">Татьяна Кузьмина</h3>
                <p class="contacts__position">Администратор церкви</p>
                <p class="contacts__vk"><i class="fa fa-vk" aria-hidden="true"></i><span>136271467</span></p>
                <p class="contacts__phone"> <i class="fa fa-phone" aria-hidden="true"></i><span>+7 (911) 493-73-99</span></p>
            </figcaption>
        </figure></a><a class="contacts__item" href="tel:+79114941997">
        <figure><img class="contacts__pic" src="/img/contacts/maxim.jpg" alt="Maxim">
            <figcaption>
                <h3 class="contacts__name">Павел Кузьмин</h3>
                <p class="contacts__position">Служения инициативной группы</p>
                <p class="contacts__vk"><i class="fa fa-vk" aria-hidden="true"></i><span>389842313</span></p>
                <p class="contacts__phone"> <i class="fa fa-phone" aria-hidden="true"></i><span>+7 (911) 494-19-97</span></p>
            </figcaption>
        </figure></a><a class="contacts__item" href="tel:+79210074217">
        <figure><img class="contacts__pic" src="/img/contacts/maxim.jpg" alt="Maxim">
            <figcaption>
                <h3 class="contacts__name">Ксения Тюнева</h3>
                <p class="contacts__position">служения Благовестие</p>
                <p class="contacts__vk"><i class="fa fa-vk" aria-hidden="true"></i><span>ksy3236043</span></p>
                <p class="contacts__phone"> <i class="fa fa-phone" aria-hidden="true"></i><span>+7 (921) 007-42-17</span></p>
            </figcaption>
        </figure></a><a class="contacts__item" href="tel:+79114942007">
        <figure><img class="contacts__pic" src="/img/contacts/maxim.jpg" alt="Maxim">
            <figcaption>
                <h3 class="contacts__name">Михаил Попов</h3>
                <p class="contacts__position">медиа-служение</p>
                <p class="contacts__vk"><i class="fa fa-vk" aria-hidden="true"></i><span>22159585</span></p>
                <p class="contacts__phone"> <i class="fa fa-phone" aria-hidden="true"></i><span>+7 (911) 494-20-07</span></p>
            </figcaption>
        </figure></a></div>
    <div class="contacts__adress">
        <h2>Адрес</h2>
        <p> г. Санкт-Петербург, <br> ст.м. Чкаловская, ул. Шамшева, 8. <br> ДК Им. Щелгунова, 4-й этаж</p>
    </div>
</div>