<aside class="events" id="events">
    <div class="sectionTitle">
        <h1>События</h1>
    </div>
    <div class="divider"></div>
    <div class="events__item" data-id="8">
        <div class="events__date"><span class="events__day">29</span><span class="events__month">Октября</span></div>
        <div class="events__text">
            <p>Событие номер один Событие номер одиs</p>
        </div>
    </div>
    <div class="events__item" data-id="7">
        <div class="events__date"><span class="events__day">14</span><span class="events__month">Июля</span></div>
        <div class="events__text">
            <p>Событие номер один номер один</p>
        </div>
    </div>
    <div class="events__item" data-id="6">
        <div class="events__date"><span class="events__day">14</span><span class="events__month">Сентября</span></div>
        <div class="events__text">
            <p>Событие номер один номер один</p>
        </div>
    </div>
    <div class="events__item" data-id="5">
        <div class="events__date"><span class="events__day">29</span><span class="events__month">Мая</span></div>
        <div class="events__text">
            <p>Событие номер один</p>
        </div>
    </div>
    <div class="events__item" data-id="4">
        <div class="events__date"><span class="events__day">14</span><span class="events__month">Ноября</span></div>
        <div class="events__text">
            <p>Событие номер один номер один</p>
        </div>
    </div>
    <div class="events__item" data-id="3">
        <div class="events__date"><span class="events__day">14</span><span class="events__month">Августа</span></div>
        <div class="events__text">
            <p>Событие номер один номер один</p>
        </div>
    </div>
    <div class="events__item" data-id="2">
        <div class="events__date"><span class="events__day">14</span><span class="events__month">Декабря</span></div>
        <div class="events__text">
            <p>Событие номер один номер один</p>
        </div>
    </div>
    <div class="events__item" data-id="1">
        <div class="events__date"><span class="events__day">14</span><span class="events__month">Июля</span></div>
        <div class="events__text">
            <p>Событие номер один номер один</p>
        </div>
    </div>
    <div class="eventModal hidden" id="event1">
        <div class="eventModal__close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="eventModal__wrapper">
            <div class="eventModal__head">
                <div class="eventModal__title">
                    <h2>Событие1</h2>
                </div>
                <div class="eventModal__date"><span>12 Мая</span></div><img class="eventModal__pic" src="../../img/slider/slide2.jpg" alt="Служение прославление">
            </div>
            <div class="eventModal__text">
                <p>Сбербанк и Telegram разработали уникальное платежное решение для партнеров, у которых есть Telegram-бот. Оно позволяет принимать к оплате банковские карты MasterCard, Visa и МИР. Кроме того, впервые в России появилась возможность оплаты в ботах Telegram с помощью Apple Pay и Android Pay. Сбербанк и Telegram разработали уникальное платежное решение для партнеров, у которых есть Telegram-бот. Оно позволяет принимать к оплате банковские карты MasterCard, Visa и МИР. Кроме того, впервые в России появилась возможность оплаты в ботах Telegram с помощью Apple Pay и Android Pay.</p>
            </div>
        </div>
    </div>
</aside>