<footer class="footer">
    <div class="logo">
        <div class="logo__pic"><img src="{{ 'assets/images/logo.png'|theme}}" alt="logo"></div>
        <div class="logo__text">
            <p>Церковь "Краеугольный камень" <br><span>г. Калининград</span></p>
        </div>
    </div>
    <div class="info">
        <p>Местная религиозная группа Церковь христиан веры евангельской «Краеугольный камень» г. Калининград № 3918010019</p>
        <p>Богослужение проходит по адресу : Гостиница Москва, Мира проспект, 19-21, Калининград в 15:00 ч. 1 этаж, конференц зал! Тел: +7 (911) 493-73-99</p>
    </div>
    <div class="social">
        <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
</footer>
