<div class="slider" id="slider">
    <div class="container">
        <div class="vision">
            <div class="vision__item"><a class="vision__link" href="evangelism.html"><img src="{{ 'assets/images/slider/slide1.jpg'|theme }}" alt="slide1"></a></div>
            <div class="vision__item"><a class="vision__link" href="glorification.html"><img src="{{ 'assets/images/slider/slide2.jpg'|theme }}" alt="slide2"></a></div>
            <div class="vision__item"><a class="vision__link" href="worship.html"><img src="{{ 'assets/images/slider/slide3.jpg'|theme }}" alt="slide3"></a></div>
            <div class="vision__item"><a class="vision__link" href="prayer.html"><img src="{{ 'assets/images/slider/slide4.jpg'|theme }}" alt="slide4"></a></div>
            <div class="vision__item"><a class="vision__link" href="stop.html"><img src="{{ 'assets/images/slider/slide5.jpg'|theme }}" alt="slide5"></a></div>
        </div>
    </div>
</div>