@import "../libs/normalize/normalize";
@import "../libs/font-awesome/font-awesome";
@import "../libs/fotorama/fotorama.css";
@import "../libs/sass-mediaqueries/media-queries";
@import "../libs/slick-carousel/slick/slick-theme.scss";
@import "../libs/slick-carousel/slick/slick.scss";
@import "smart-grid";
@import "fonts";
@import "variables";

@import "./includes/header";
@import "./includes/slider";
@import "./includes/churchLife";
@import "./includes/news";
@import "./includes/events";
@import "./includes/aboutUs";
@import "./includes/footer";
@import "./includes/evangelism";
@import "./includes/prayer";
@import "./includes/glorification";
@import "./includes/ministration";
@import "./includes/worship";
@import "./includes/stop";
@import "./includes/contacts";
@import "./includes/eventModal";
@import "./includes/newsPost";

// $break_xlg: 1600px;
// $break_lg: 1200px;
// $break_md: 1024px;
// $break_sm: 768px;
// $break_xs: 480px;
// $break_xxs: 320px;

//   @include max-screen($break_sm) {
//   }

* {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, p, ul, hr {
  margin: 0;
  padding: 0;
}
body {
  font-family: $regular;
  font-size: 16px;
  background: #3c3c3c;
  background-image: url("../images/zenbg-1.png"), url("../images/zenbg-2.png");
  background-repeat: repeat-x, repeat;

  @include max-screen($break_sm) {
    font-size: 14px;
  }
  @include max-screen($break_xxs) {
    font-size: 12px;
  }
}
a {
  color: $white;
  text-decoration: none;
  outline: none;
  &:visited {
    // color: currentColor !important;
  }
}
a[disabled="disabled"] {
  pointer-events: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 35px;
  margin: 0 auto;
  @include max-screen($break_xlg) {
    max-width: 1200px;
  }
  @include max-screen($break_lg) {
    max-width: 1024px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 30px;
}

section p {
  font-size: 1.2em;
}

.sectionTitle {
  color: $white;
  line-height: 1;
  width: 100%;
  margin: 30px 0;
  :first-child {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    letter-spacing: 3px;
    text-shadow:
            0 4px 3px rgba(0,0,0,0.4),
            0 8px 13px rgba(0,0,0,0.1),
            0 18px 23px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 1px $black;
  }
}
.subTitle {
  @extend .sectionTitle;
  margin-top: 0;
  margin-bottom: 15px;
  :first-child {
    text-align: left;
    display: inline-block;
    width: 75%;
    padding: 3px 30px 5px 30px;
  }
}

.divider {
  height: 2px;
  width: 100%;
  background-color: $gold;
  margin: 0 auto;
}

.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

#preloader {
  background: white;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 9999;
  display: flex;
  #status {
    background: url("../images/preloader.gif") center no-repeat;
    height: 300px;
    width: 300px;
    margin: auto;
  }
}

.scrollUp {
  text-align: center;
  z-index: 2600;
  position: fixed;
  right: 35px;
  bottom: 100px;
  opacity: 0.5;
  text-shadow: 1px 1px 1px #ccc;
  display: block;
  @include max-screen($break_xs) {
    bottom: 35px;
  }
  &:hover {
    opacity: 1;
    color: #ffa500;
  }
  .fa {
    font-size: 30px;
    display: block;
  }
}

@keyframes rotate_y {
  0% {transform: rotateY(0deg);}
  25% {transform: rotateY(360deg);}
  100% {transform: rotateY(360deg);}
}
